.container {
  padding-top: 1.2rem;
  display: flex;
}

.greenButton {
  background-color: #6e701f;
  margin-right: 0.5rem;
}

.greenButton:hover {
  background-color: #53551a;
}

.grayButton {
  background-color: #c1c1c1;
  margin-right: 0.5rem;
}

.grayButton:hover {
  background-color: #767474;
}

.isChoseText {
  color: white;
}
