.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerCenter {
  max-width: 50rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
