.textInput {
  width: 17rem;
  margin-left: 1rem;
  margin-right: 0.2rem;
}

.button {
  background-color: #2bab3f;
  height: 2.2rem;
}

.button:hover {
  background-color: #134e1c;
}

.textButton {
  color: white;
}
