.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container:hover {
  background-color: var(--message);
}

.label {
  margin-top: 0.6rem;
  text-align: center;
}
